@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	--red: #e63946;
	--white: #f1faee;
	--baby-blue: #a8dadc;
	--blue: #457b9d;
	--royal-blue: #1d3557;

	background-color: var(--white);
	color: var(--royal-blue);

	/* overflow-x: hidden; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* html {
	scroll-snap-type: y proximity;
} */

p {
	font-family: 'Nunito', sans-serif;
}

li {
	list-style-type: none;
}

section {
	scroll-snap-align: start;
	scroll-margin-top: 20px;
}

img {
	pointer-events: none;
	user-select: none;
}
